.section-heading {
  font-size: 2.5rem;
  color: var(--green);
  padding-right: 30px;
}

.section-subheading {
  color: var(--light-slate);
  font-weight: 400;

}

.about-page {
  background-color: var(--dark-grey);
}