.section-heading {
  font-size: 2.5rem;
  color: var(--green);
  padding-right: 30px;
}

.section-subheading {
  color: var(--light-slate);
  font-weight: 400;
  margin-top: 10px;
}

.about-page {
  background-color: var(--dark-grey);
}

.page-container {
  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.profile-pic-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.profile-pic {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;

    p {
      margin-right: auto;
      margin-left: 20px;
      max-width: 650px;
    }
  }
}
