.contact-form {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;

  ul {
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    justify-content: center;
    align-items: center;

    li {
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      li.half {
        max-width: 50px;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
          margin-left: 0;
        }
      }

      input,
      textarea {
        vertical-align: top;
        width: 100%;
        padding: 10px;
        background-color: var(--grey);
        // border: 1px solid var(--green);
        border: none;
        border-radius: 10px;
        color: var(--lightest-slate);
      }

      .message-box {
        display: flex;
        align-items: flex-start; /* Aligns items at the top */
      }

      .flat-button {
        width: 40%;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: var(--blue);
        font-size: 1.2em;
        color: var(--dark);
        border: none;
        cursor: pointer;
      }
    }
  }
}

.contact-para {
  @media (min-width: 768px) {
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

.container-size {
  max-width: 500px;
}
