ul {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-right: 0px;

  list-style: none;
}

.company {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--green);
  line-height: 1.5;
}

.title {
  color: var(--white);
  font-weight: 700;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.date {
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 400;
  color: var(--light-slate);
  font-size: 0.8em;
}

.description {
  margin-top: 5px;
  margin-bottom: 40px;
  font-size: 1em;
  //   font-weight: 400;
  color: var(--lightest-slate);

  line-height: 1.5;
}
