:root {
  --green: #19fbc6;
  --light-green: #b6f9e9dd;
  --lightest-navy: #172a45;
  --navy: #0a192f;
  --light-navy: #303c55;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --pink: #ff2e63;
  --blue: #286ff2;
  --light-blue: #c3e88d;
  --lightest-blue: #f1f8f5;
  --black: #000;
  --white: #ffffff;
  --dark-grey: #0f0f0f;
  --grey: #242424ac;

  font-size: 15px;

  @media (min-width: 768px){
    font-size: 18px;
  }
}

.section-heading {
  font-size: 2.5rem;
  color: var(--green);
  padding-right: 30px;
}

.section-subheading {
  color: var(--light-slate);
  font-weight: 400;
  margin-top: 10px;
}

.divider {
  display: block;
  margin: 20px 0px;
  width: 120px;
  height: 2px;
  background-color: var(--green);
}

.divider-2 {
  display: block;
  margin: 0px 40px 0px 40px;
  height: auto;
  width: 2px;
  background-color: var(--green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  font-weight: 600;
  color: var(--slate);
  line-height: 1.1;
}

.page-container {
  border-color: var(--grey);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 100vh; /* This makes the container take the full height of the viewport */
  overflow-y: auto; /* This enables vertical scrolling */
  display: flex; /* This makes the children (Intro and About) display in a row */
  flex-direction: column; /* This makes the children stack vertically */
}

.intro-page {
  justify-content: center;
}

.skills-page,
.about-page,
.contact-page,
.experience-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding: 50px 30px 30px 30px;
  background-size: cover;
}

p {
  font-size: 1em;
  color: var(--lightest-slate);
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.skill-bubble {
  display: inline-block;
  margin: 5px 2px 5px 2px;
  padding: 10px 12px;
  border-radius: 20px;
  border-width: 1px;
  background-color: var(--grey);
  color: var(--green);
  font-size: 0.8em;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;

  @media (min-width: 760px) {
    flex-direction: row;
    justify-content: space-between;

    .heading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 450px;
    }

    .page-split-container {
      margin-left: 60px;
      margin-top: auto;
      margin-right: auto;
      max-width: 650px;
    }

    .divider {
      display: none;
    }
  }
}
