h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.page-container {
  height: 100vh; /* This makes the container take the full height of the viewport */
  overflow-y: auto; /* This enables vertical scrolling */
  display: flex; /* This makes the children (Intro and About) display in a row */
  flex-direction: column; /* This makes the children stack vertically */
}

.intro-page {
  justify-content: center;
}

.skills-page,
.about-page,
.contact-page,
.experience-page {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}
