h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.page-container {
  height: 100vh; /* This makes the container take the full height of the viewport */
  overflow-y: auto; /* This enables vertical scrolling */
  display: flex; /* This makes the children (Intro and About) display in a row */
  flex-direction: column; /* This makes the children stack vertically */
}