.sub-title {
  margin-top: 15px;
  margin-bottom: 5px;
}

.skills-page {
  // background-color: var(--dark-grey);

  @media (min-width: 768px) {
    .page-split-container {
      margin-right: -50px;
      order: 1;
    }

    .divider-2 {
      order: 2;
    }

    .heading-container {
      order: 3;
    }
  }
}
