.sub-title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.skills-page {
  // background-color: var(--dark-grey);
  ul {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  @media (min-width: 768px) {
    .page-split-container {
      margin-right: -50px;
      order: 1;
    }

    .divider-2 {
      order: 2;
    }

    .heading-container {
      order: 3;
    }
  }
}
